footer{
    background-color: rgb(31, 31, 38);
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 0;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    
}


/* TOUTE LA DIV ICON/LOCATION/ADRESSE */
.containerAdresse{
    display: flex;
    flex-direction: row;
   
}

/* icone de location */
.fa-location-dot{
    padding: 1rem;
    color:#F7971E ;
   
}


#nomLocation{
    color: aliceblue;
    font-size: 16px;
    margin: 1rem;
    padding-right: 10px;

}

#adresseParagraphe{

    display: flex;
    width: 12rem;
    height: 5rem;
    margin-right: 0px;
    color: aliceblue;
    margin-left:1px;
    padding: 0px;
   
}

.iconContainer{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    height: 35px;
    /* margin right pour centrer mon container au milieu */
    margin-right: 10rem;
    color: gold;
    padding:25px;
    font-size: 45px;
    border: 2px solid gold;
   
}

#copyright{
    display: flex;
    color: white;
    border: 2px solid gold;
}







