h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: bold;
    font-size: 30px;
}

p {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 15px;
}


#photoRestau {

    padding-bottom:0;
    margin-top: 2rem;
    margin-left: 8rem;
    width: 23rem;
    height: auto;
    border: white 3px solid;
    
}

#ImgHoraires {
   
    width: 110%;
    height: 524px;


}



/* classe du main pour mettre les images alignées */
.photoHoraire {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: auto;
}