html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

body{
    background-color: #f7971e;
    margin: 0;
    width: 100%;
    height: auto;
    /*overflow -> empecher le scroll */
    overflow: hidden;
   
}

/* sert à bloquer le scroll, une seule page
 body{overflow: hidden;
} */
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav ul::after{
    content:"";
    display: table;
    clear: both;
}

nav li{
    list-style-type: none
    ;
    float: left;
    width: 10rem;
    text-align: center;
}

nav a{
    display: block;
    text-decoration: none;
    color:black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover{
    color:rgb(27, 43, 107);
    border-bottom: 2px solid gold;
}

.barreNav{
    margin: 10px;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-left: 0;
    background-color: white;
    position: sticky;
    top: 0px;
    justify-content: space-around;
    border-top: #f7971e 10px solid;
}

a{
    justify-content: center;
    text-decoration: none;

}


