main{
    
    width: 0;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 50px;


}

.imgMenu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 100px;
    border: 2px solid black;
}

#imgCardBoisson{
    width: 300px;
    height: auto;
    margin-right: 50px;
}

.imgCardPizza{
    width: 300px;
    height: auto;
    margin-right: 50px;
}

.imgCardDessert{
    width: 300px;
    height: auto;
}
