body{
    width: 100%;
    height: auto;
}

.section-contact {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    width: 50%;
    height: 30rem;
    margin-left: 3rem;
    border: 3px solid white;
    margin-bottom: 6vh;
    flex-wrap: column;

   
    

}

#h3 {
    font-family: "Dancing Script", cursive;
    display:flex;
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline white;
    color: white;
    padding-left: 5rem;
    /* le nowrap mets ma phrase sur une ligne et pas plusieurs */
    white-space: nowrap;
    height: 2.5rem;
    padding-top: 3rem;
}

.form-nom-email {

    width: 150px;
    height: 100px;
    justify-content: space-between;
    margin-top: 85px;
    padding-left: 60px;
   
  

}

.form-message {

    width: 180px;
    height: 200px;
    margin-top: 20px;
    padding-left: 4rem;

}









p {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 14px;
}


.text-box {
    margin: 0;
    padding-left: 4.5rem;
    
}



.btnContact:link,
.btnContact:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 20%;
    transition: all .2s;
    position: absolute;
    
}

.btnContact:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.593);
}

.btnContact:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
}

.btnContact {
    background-color: #19ecff;
    color: #ffffff;
    display: block;
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;
    
}

.btnContact-white {
    background-color: #000000;
    color: #777;
}

.btnContact::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btnContact-white::after {
    background-color: #ffffff;
}

.btnContact:hover::after {
    transform: scaleX(1.4) scaleY(1.9);
    opacity: 0;
}

.btnContact {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
  
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 3;
        transform: translateY(0px);
    }
}


.photoContact {
    display: block;
     margin-right: 5rem;
    justify-items: center;
    margin-left: 10rem;

}

#photoContact {
    margin-left: 30vh;
    align-items: flex-start;
    width: 300px;
    height: auto;
    margin-top: 2rem;
    border: white 3px solid;
   

   
    padding: 0;


}